<div *ngIf="isEditMode && diostory" class="container">
    <!-- Top toolbar - change this to be in navbar -->
    <div class="level is-mobile">
        <div class="level-left"></div>
        <div class="level-right">
            <button class="button is-success" (click)="saveButtonClick()" [ngClass]="{'is-loading': isSaving === true}" [disabled]="isSaving === true">Guardar</button>
            <button class="button" (click)="cancelButtonClick()">Cancelar</button>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Titulo</label>
        <div class="control">
            <input class="input" type="text" placeholder="" [(ngModel)]="diostory!.title">
        </div>
    </div>

    <!-- Panel editor -->
    <div class="panel">
        <div class="panel-heading">
            <div class="level is-mobile">
                <div class="level-left">
                    <label class="label">Paneles ({{diostory.getCurrentPanelIndex()}}/{{diostory.getPanelCount()}})</label>
                </div>
                <div class="level-right">
                    <button class="button" (click)="addPanelButtonClick()">
                        <span class="icon">
                            <i class="fas fa-plus fa-lg"></i>
                        </span>
                        <span class="is-hidden-mobile">Anadir</span>
                    </button>
                    <button class="button" (click)="prevButtonClick()">
                        <span class="icon">
                            <i class="fas fa-arrow-left fa-lg"></i>
                        </span>
                        <span class="is-hidden-mobile">Anterior</span>
                    </button>
                    <button class="button" (click)="nextButtonClick()">
                        <span class="icon">
                            <i class="fas fa-arrow-right fa-lg"></i>
                        </span>
                        <span class="is-hidden-mobile">Siguiente</span>
                    </button>
                    <button class="button" (click)="deletePanelButtonClick()">
                        <span class="icon">
                            <i class="fas fa-trash fa-lg"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="box is-marginless">
            <label class="label">Imagen</label>
        
            <!-- Image editor -->
            <div class="level">
                <div class="level-left">
                    <div class="file has-name is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" type="file" name="file" (change)="onFileChange($event)">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Escoger
                                </span>
                            </span>
                            <span class="file-name" *ngIf="currentPanel?.imageUrl">
                                {{ currentPanel!.imageUrl }}
                            </span>
                        </label>
                    </div>
                </div>
                <div class="level-right">
                    <button class="button" (click)="imgSize = 'small'">Small</button>
                    <button class="button" (click)="imgSize = 'medium'">Medium</button>
                    <button class="button" (click)="imgSize = 'large'">Large</button>
                    <button class="button" (click)="imgSize = 'fullwidth'">Full</button>
                    <button class="button is-fullwidth" [ngClass]="{'is-loading': isFileUploading === true}" [disabled]="isFileUploading === true" (click)="uploadButtonClick()">Subir</button>
                </div>
            </div>
            
            <div *ngIf="currentPanel?.imageUrl" class="columns">
                <div class="column" [ngClass]="{'is-full': imgSize === 'fullwidth', 'is-three-quarters': imgSize === 'large', 'is-half': imgSize === 'medium', 'is-one-quarter': imgSize === 'small'}">
                    <figure class="image is-3by2">
                        <img [src]="getAbsoluteImageUrl(currentPanel!.imageUrl)" />
                    </figure>
                </div>
            </div>
        
            <!-- Text Editor -->
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        Texto (puede utilizar HTML)
                    </div>
                </div>
                <div class="card-content">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea has-fixed-size" placeholder="" [(ngModel)]="currentPanel!.text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>


<div *ngIf="!isEditMode && diostory" class="container has-text-centered">
    <!-- Title  -->    
    <span *ngIf="isFirstPanel()" class="title is-3 is-capitalized">{{ diostory!.title }}</span>
    <span *ngIf="!isFirstPanel()">{{ diostory!.title }}</span>
    
    <!-- Top navbar -->
    <div class="level is-mobile pt-2" *ngIf="!isFirstPanel()">
        <div class="level-left">
        </div>
        <div class="level-right">
            <button class="button is-small is-light" (click)="prevButtonClick()" [disabled]="!hasPrevPanel()">
                <span class="icon">
                    <i class="fas fa-chevron-left fa-lg"></i>
                </span>
            </button>

            <button class="button is-small is-light is-static">{{ diostory!.getCurrentPanelIndex() }}/{{ diostory!.getPanelCount() }}</button>

            <button class="button is-small is-light" (click)="nextButtonClick()" [disabled]="!hasNextPanel()">
                <span class="icon">
                    <i class="fas fa-chevron-right fa-lg"></i>
                </span>
            </button>
        </div>
    </div>

    <div class="container has-text-left">

        <figure class="image mb-3" [ngClass]="{'mt-3': diostory!.getCurrentPanelIndex() === 1}">
            <img [src]="getAbsoluteImageUrl(currentPanel!.imageUrl)" />
        </figure>
        <div class="content" [innerHtml]="currentPanel!.text">
        </div>

        <!-- Bottom bar -->
        <div class="level is-mobile">
            <div class="level-left">
            </div>
            <div class="level-right">
                <button class="button is-small is-light" (click)="prevButtonClick()" [disabled]="!hasPrevPanel()" *ngIf="!isFirstPanel()">
                    <span class="icon">
                        <i class="fas fa-chevron-left fa-lg"></i>
                    </span>
                </button>
    
                <button *ngIf="!isFirstPanel()" class="button is-small is-light is-static">{{ diostory!.getCurrentPanelIndex() }}/{{ diostory!.getPanelCount() }}</button>
    
                <button class="button is-small is-light" (click)="nextButtonClick()" [disabled]="!hasNextPanel()">
                    <span *ngIf="isFirstPanel()">Comenzar</span>
                    <span class="icon">
                        <i class="fas fa-chevron-right fa-lg"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
